html {
  font-size: 10px;
  background: url('https://www.stars-music.com/medias/atv/exs-drums-exs-5-hd-162899.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.kick {
  position: absolute;
  top: 310px;
}
.clap {
  position: absolute;
  top: 90px;
  left: 695px;
}
.hihat {
  position: absolute;
  top: 100px;
  left: 290px;
}
.openhat {
  position: absolute;
  top: 100px;
  left: 395px;
}
.snare {
  position: absolute;
  top: 210px;
  left: 460px;
}
.tom {
  position: absolute;
  top: 90px;
  left: 545px;
}
.ride {
  position: absolute;
  top: 35px;
  left: 840px;
}
.boom {
  position: absolute;
  top: 210px;
  left: 840px;
}
.clave {
  position: absolute;
  top: 0;
  left: 950px;
}


.keys {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .1rem solid black;
  border-radius: 50%;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #00d9ff;
  box-shadow: 0 0 1rem #00d9ff;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #00a2ff;
}
